.btn-center{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40 * $vp;
	a, button{
		margin: 0 10 * $vp;
	}
}
.btn-long{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40 * $vp;
	a, button{
		margin: 0 10 * $vp;
		width: 427 * $vp;
	}
}
.btn-left{
	display: flex;
	align-items: center;
	margin-top: 40 * $vp;
	a, button{
		margin-right: 10 * $vp;
		&:last-child{
			margin-right: 0;
		}
	}
}
.btn-main{
	position: relative;
	background: $blue-grade;
	height: 60 * $vp;
	padding: 0 20 * $vp;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	font-weight: 700;
	width: 300 * $vp;
	border-radius:30 * $vp;
	&:hover{
		color: #fff;
		text-decoration: none;
		background: $color-blue;
	}
	&.is-arrow{
		&:before{
			content:'';
			background: url('../img/arrow-white.svg') no-repeat;
			width: 12 * $vp;
			height: 8 * $vp;
			display: block;
			background-size: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			right: 20 * $vp;
			transition: .3s;
		}
	}
	&.is-icon{
		i{
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			right: 20 * $vp;
			margin: auto;
			max-width: 20 * $vp;
			max-height:20 * $vp;
		}
	}
}
.btn-white{
	position: relative;
	background: #FFF;
	color: $color-blue;
	height: 60 * $vp;
	padding: 0 20 * $vp;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	border-radius:30 * $vp;
	min-width: 227 * $vp;
	border:1px solid $color-blue;
	&.is-icon{
		i{
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			right: 20 * $vp;
			margin: auto;
			max-width: 15 * $vp;
			max-height:20 * $vp;
		}
	}
	&.is-icon-r{
		i{
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			left: 20 * $vp;
			margin: auto;
			max-width: 15 * $vp;
			max-height:20 * $vp;
		}
	}
	&.is-arrow{
		&:before{
			content:'';
			background: url('../img/arrow-blue.svg') no-repeat;
			width: 12 * $vp;
			height: 8 * $vp;
			display: block;
			background-size: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			right: 20 * $vp;
			transition: .3s;
		}
	}
	&.is-arrow-front{
		&:before{
			content:'';
			background: url('../img/arrow-blue.svg') no-repeat;
			width: 15 * $vp;
			height: 10 * $vp;
			display: block;
			background-size: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			left: 20 * $vp;
			transition: .3s;
			transform:scale(-1,1);
		}
	}
}
.btn-red{
	position: relative;
	background: $color-red;
	height: 80 * $vp;
	padding: 0 20 * $vp;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	color: #fff;
	font-weight: 700;
	width: 300 * $vp;
	border-radius:40 * $vp;
	font-size: 24 * $vp;
	cursor:pointer;
	transition:.3s;
	small{
		display: block;
		font-size: 14 * $vp;
	}
	&:hover{
		text-decoration: none;
		opacity: 0.7;
	}
	&.is-arrow{
		&:before{
			content:'';
			background: url('../img/arrow-white.svg') no-repeat;
			width: 12 * $vp;
			height: 8 * $vp;
			display: block;
			background-size: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			right: 20 * $vp;
			transition: .3s;
		}
	}
	&.is-icon{
		i{
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			right: 20 * $vp;
			margin: auto;
			max-width: 20 * $vp;
			max-height:20 * $vp;
		}
	}
}