.commonTtl{
	font-size: 48 * $vp;
	position: relative;
	margin-bottom: 30 * $vp;
	small{
		display: block;
		font-size: 20 * $vp;
		color: #A6A6A6;
		margin-top: 20 * $vp;
	}
	&:before{
		content:'';
		width: 57 * $vp;
		height: 6 * $vp;
		background: $blue-grade;
		display: block;
		position: absolute;
		left: 0;
		top: -35 * $vp;
	}
	&.is-center{
		text-align: center;
		font-size: 36 * $vp;
		&:before{
			right: 0;
			margin: auto;
		}
	}
}
.pageHeader{
	width: 94%;
	height: 205 * $vp;
	display: flex;
	align-items: center;
	margin: 0 auto 40 * $vp auto;
	border-radius:20 * $vp;
	background: linear-gradient(50deg, rgba(242,244,246,1) 35%, rgba(33,73,123,0) 100%);
	h1{
		font-size: 48 * $vp;
		width: 26%;
		padding-left: 60 * $vp;
		position: relative;
		z-index:10;
		small{
			display: block;
			font-size: 20 * $vp;
			color: #A6A6A6;
			margin-top: 20 * $vp;
			letter-spacing:3 * $vp;
		}
	}
	.header-image{
		width: 77%;
		z-index:-1;
		position: relative;
		img{
			width: 100%;
			height: 205 * $vp;
			object-fit:cover;
			object-position:right center;
			border-radius:0 20 * $vp 20 * $vp 0;
		}
	}
}
.subPageHeader{
	width: 94%;
	height: 205 * $vp;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto 80 * $vp auto;
	border-radius:20 * $vp;
	background: rgba(242,244,246,1);
	h1{
		font-size: 44 * $vp;
		line-height: 1.2;
	}
}
.imgHeader{
	width: 94%;
	height: 500 * $vp;
	position: relative;
	margin: 0 auto;
	padding: 170 * $vp 0 0 50 * $vp;
	.header-image{
		width: 100%;
		height: 500 * $vp;
		position: absolute;
		top: 0;
		left: 0;
		img{
			width: 100%;
			height: 500 * $vp;
			object-fit:cover;
			border-radius:20 * $vp;
		}
	}
	.headerTtl{
		position: relative;
		z-index:10;
		font-size: 50 * $vp;
		font-weight: 600;
		width: 550 * $vp;
		text-align: center;
		small{
			font-size: 30 * $vp;
			display: block;
			margin-top: 30 * $vp;
			font-weight: 500;
		}
	}

}
.bread{
	width: 94%;
	margin: 0 auto;
	padding: 10 * $vp 0 20 * $vp 0;
	font-size: 12 * $vp;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	a{
		text-decoration: underline;
		color: $color-blue;
	}
	li{
		display: flex;
		align-items: center;
		color: #989898;
		&:not(:first-child){
			&:before{
				content:'';
				background: url('../img/arrow-bk.svg') no-repeat;
				width: 3px;
				height: 6px;
				display: block;
				margin: 0 10 * $vp;
			}
		}
	}
}
.top{
	.topMv{
		height: calc(100vh - #{80 * $vp});
		overflow: hidden;
		.top__slider{
			img{
				width: 100%;
				height: calc(100vh - #{170 * $vp});
				/* height: auto;
				aspect-ratio:1.968 / 1; */
				object-fit:cover;
				object-position:center top;
				border-radius:20 * $vp;
			}
		}
	}
	.topPickup{
		/* margin-top: 55 * $vp; */
		.topPickup__col{
			padding: 25 * $vp 20 * $vp 25 * $vp 40 * $vp;
			border-radius:10 * $vp;
			box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
			display: flex;
			align-items: center;
			time{
				width: 90 * $vp;
				font-weight: 700;
				color: #666;
				font-size: 14 * $vp;
			}
			h2{
				padding-right: 20 * $vp;
				position: relative;
				flex-grow: 1;
				font-weight: 500;
				a{
					display: block;
					&:before{
						content:'';
						background: url('../img/arrow-blue.svg') no-repeat;
						width: 12 * $vp;
						height: 8 * $vp;
						display: block;
						background-size: 100%;
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
						right: 20 * $vp;
						transition: .3s;
					}
					&:hover{
						&:before{
							right: 10 * $vp;
						}
					}
				}
			}
		}
	}
	.topNews{
		padding: 135 * $vp 0 100 * $vp;
		.news__tab{
			display: flex;
			margin-bottom: 40 * $vp;
			li{
				width: calc(100% / 3);
				height: 60 * $vp;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 700;
				background: #EEE;
				border-right: 1px solid #fff;
				border-bottom: 1px solid $color-blue;
				&.is-active{
					border-top: 1px solid $color-blue;
					border-left: 1px solid $color-blue;
					border-right: 1px solid $color-blue;
					border-bottom: 1px solid #fff;
					border-radius:10 * $vp 10 * $vp 0 0;
					background: #FFF;
					color: $color-blue;
				}
			}
		}
		.news__list{
			width: calc(100% - #{120 * $vp});
			margin: 0 auto;
			display: none;
			&.is-active{
				display: block;
			}
			ul{
				li{
					display: flex;
					align-items: center;
					padding: 20 * $vp 0;
					border-bottom: 1px solid #C8C8C8;
					.cat{
						position: relative;
						width: 130 * $vp;
						height: 30 * $vp;
						border-radius:5 * $vp;
						font-size: 14 * $vp;
						color: #FFF;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						background: #000;
						margin-right: 20 * $vp;
						span{
							background: #B9272D;
							width: 30 * $vp;
							height: 30 * $vp;
							border-radius:50%;
							font-weight: 700;
							color: #fff;
							font-size: 10 * $vp;
							display: flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							top: -15 * $vp;
							left: -15 * $vp;
						}
					}
					time{
						width: 90 * $vp;
						font-weight: 700;
						color: #666;
						font-size: 14 * $vp;
					}
					h3{
						font-weight: 500;
						position: relative;
						width: calc(100% - #{240 * $vp});
						line-height: 1.4;
						a{
							display: block;
							&:before{
								content:'';
								background: url('../img/arrow-blue.svg') no-repeat;
								width: 12 * $vp;
								height: 8 * $vp;
								display: block;
								background-size: 100%;
								position: absolute;
								top: 0;
								bottom: 0;
								margin: auto;
								right: 20 * $vp;
								transition: .3s;
							}
							&:hover{
								&:before{
									right: 10 * $vp;
								}
							}
						}
					}
				}
			}
		}
	}
	.topProduct{
		background: #F2F4F5;
		border-radius:60 * $vp 60 * $vp 0 0;
		padding: 135 * $vp 0 120 * $vp 0;
		.product-slider{
			margin-bottom: 120 * $vp;
			position: relative;
			.product-box{
				width: calc(50% - #{20 * $vp});
				height: auto;
				aspect-ratio:2.4 / 1;
				border-radius:10 * $vp;
				background: #fff;
				box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
				padding: 20 * $vp;
				display: flex;
				align-items: center;
				margin: 0 10 * $vp;
				opacity: 0.5;
				.box-image{
					width: 35%;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 10 * $vp;
					flex-shrink: 0;
					img{
						width: auto;
						height: 100%;
					}
				}
				.box-text{
					flex-grow: 1;
					padding: 0 5%;
					label{
						display: flex;
						align-items: center;
						font-size: 13 * $vp;
						margin-bottom: 10 * $vp;
						span{
							display: inline-flex;
							border:1px solid #000;
							border-radius:4 * $vp;
							padding: 5 * $vp 8 * $vp;
							margin-right: 15 * $vp;
						}
					}
					h3{
						font-size: 28 * $vp;
						line-height: 1.4;
						margin-bottom: 20 * $vp;
					}
					.btn-main{
						width: 227 * $vp;
					}
				}
			}
			.slick-current{
				opacity: 1;
			}
		}
		.product__list{
			display: flex;
			flex-wrap: wrap;
			margin: -10 * $vp;
			.list-box{
				width: calc(100% / 5 - #{20 * $vp});
				background: #FFF;
				border-radius:10 * $vp;
				height: 100 * $vp;
				display: flex;
				margin: 10 * $vp;
				box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
				.box-image{
					background: #C2C9D3;
					width: 50%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius:10 * $vp 0 0 10 * $vp;
					img{
						border-radius:10 * $vp 0 0 10 * $vp;
					}
				}
				.box-text{
					width: 50%;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 13 * $vp;
					font-weight: 700;
					h3{
						line-height: 1.4;
					}
					&:after{
						content:'';
						background: url('../img/arrow-grade.svg') no-repeat;
						width: 15 * $vp;
						height: 15 * $vp;
						background-size: cover;
						display: block;
						position: absolute;
						right: 7.5 * $vp;
						bottom: 7.5 * $vp;
					}
				}
			}
		}
	}
	.topContents{
		margin-top: 120 * $vp;
		.topContents__box{
			position: relative;
			min-height: 432 * $vp;
			margin-bottom: 160 * $vp;
			.box-text{
				width: 42%;
				padding-top: 60 * $vp;
				padding-right: 50 * $vp;
				color: #666;
				p{
					line-height: 2;
					font-feature-settings: "palt";
					letter-spacing: .5 * $vp;
					margin-bottom: 30 * $vp;
				}
			}
			.box-image{
				width: 55%;
				position: absolute;
				right: 0;
				top: 0;
				img{
					width: 100%;
					height: 432 * $vp;
					object-fit:cover;
					border-radius:20 * $vp 0 0 20 * $vp;
				}
			}
			&:before{
				content:'';
				width: 980 * $vp;
				height: 412 * $vp;
				background: #f2f4f5;
				display: block;
				position: absolute;
				top: 80 * $vp;
				left: 0;
				right: 0;
				margin: auto;
				z-index:-1;
			}
			&:nth-child(even){
				.box-text{
					margin: 0 0 0 auto;
					padding-right: 0;
					padding-left: 60 * $vp;
				}
				.box-image{
					width: 55%;
					position: absolute;
					right: auto;
					left: 0;
					top: 0;
					img{
						width: 100%;
						height: 432 * $vp;
						object-fit:cover;
						border-radius:0 20 * $vp 20 * $vp 0;
					}
				}
			}
		}
	}
	.topCompany{
		padding: 45 * $vp 0 200 * $vp 0;
		position: relative;
		.company__contents{
			display: flex;
			margin:0 -15 * $vp;
			.company-box{
				width: calc(100% / 4 - #{30 * $vp});
				border-radius:10 * $vp;
				margin: 0 15 * $vp;
				background: #FFF;
				box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
				.box-image{
					img{
						width: 100%;
						height: 170 * $vp;
						object-fit:cover;
						border-radius:10 * $vp 10 * $vp 0 0;
					}
				}
				.box-text{
					padding: 15 * $vp;
					h3{
						font-size: 18 * $vp;
						font-weight: 600;
						margin-bottom: 15 * $vp;
						display: flex;
						align-items: center;
						&:after{
							content:'';
							background: url('../img/arrow-blue.svg') no-repeat;
							width: 12 * $vp;
							height: 8 * $vp;
							display: block;
							background-size: 100%;
							margin: 0 0 0 auto;
							right: 20 * $vp;
							transition: .3s;
						}
					}
					p{
						font-size: 14 * $vp;
						color: #666;
						font-feature-settings: "palt";
					}
				}
			}
		}
		.bg01{
			width: 315 * $vp;
			height: 315 * $vp;
			position: absolute;
			z-index:-1;
			left: 16%;
			top: -200 * $vp;
		}
		.bg02{
			width: 364 * $vp;
			height: 543 * $vp;
			position: absolute;
			z-index:-1;
			left: 0;
			bottom: -100 * $vp;
			img{
				width: 364 * $vp;
				height: 543 * $vp;
				object-fit:cover;
				object-position:top right;
			}
		}
		.bg03{
			width: 210 * $vp;
			height: 389 * $vp;
			position: absolute;
			z-index:-1;
			right: 0;
			bottom: 100 * $vp;
			img{
				width: 210 * $vp;
				height: 389 * $vp;
				object-fit:cover;
				object-position:top left;
			}
		}
	}
	.topRecruit{
		background: #f2f4f5;
		padding: 120 * $vp 0;
		position: relative;
		.recruit-text{
			width: 545 * $vp;
			margin: 0 0 0 auto;
			padding-left: 125 * $vp;
			p{
				color: #666;
				line-height: 2;
			}
		}
		.recruit-image{
			width: 50%;
			position: absolute;
			left: 0;
			top: -80 * $vp;
			img{
				width: 100%;
				height: 550 * $vp;
				border-radius:0 20 * $vp 20 * $vp 0;
				object-fit:cover;
			}
		}
	}
}
.product{
	.productBody{
		.product__list{
			display: flex;
			flex-wrap: wrap;
			margin: -10 * $vp -10 * $vp 70 * $vp -10 * $vp;
			.list-box{
				width: calc(100% / 5 - #{20 * $vp});
				background: #FFF;
				border-radius:10 * $vp;
				height: 100 * $vp;
				display: flex;
				margin: 10 * $vp;
				box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
				.box-image{
					background: #C2C9D3;
					width: 50%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius:10 * $vp 0 0 10 * $vp;
					img{
						border-radius:10 * $vp 0 0 10 * $vp;
					}
				}
				.box-text{
					width: 50%;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 13 * $vp;
					font-weight: 700;
					padding: 0 10 * $vp;
					h2{
						line-height: 1.4;
					}
					&:after{
						content:'';
						background: url('../img/arrow-grade.svg') no-repeat;
						width: 15 * $vp;
						height: 15 * $vp;
						background-size: cover;
						display: block;
						position: absolute;
						right: 7.5 * $vp;
						bottom: 7.5 * $vp;
					}
				}
			}
		}
		.product__content{
			display: flex;
			margin: 0 -15 * $vp 160 * $vp -15 * $vp;
			position: relative;
			.content-box{
				width: calc(100% / 3 - #{30 * $vp});
				margin: 0 15 * $vp;
				.box-image{
					margin-bottom: 20 * $vp;
					img{
						border-radius:10 * $vp;
						width: 100%;
						height: 210 * $vp;
						object-fit:cover;
					}
				}
				.box-text{
					h2{
						font-weight: 700;
						font-size: 18 * $vp;
						position: relative;
						display: flex;
						align-items: center;
						&:after{
							content:'';
							background: url('../img/arrow-blue.svg') no-repeat;
							width: 15 * $vp;
							height: 10 * $vp;
							display: block;
							background-size: 100%;
							transition: .3s;
							margin-left: 10 * $vp;
						}
					}
				}
				a{
					display: block;
					&:hover{
						.box-text{
							h2{
								&:after{
									margin-left: 20 * $vp;
								}
							}
						}
					}
				}
			}
			&:after{
				content:'';
				width: 1040 * $vp;
				height: 245 * $vp;
				background: #f2f4f5;
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				bottom: -40 * $vp;
				z-index:-1;
			}
		}
	}
	.productPage{
		.description{
			text-align: center;
			font-size: 18 * $vp;
			margin-bottom: 100 * $vp;
		}
		.pageBlock{
			margin-bottom: 135 * $vp;
		}
		&.online, &.showroom{
			.cards-3col{
				margin-top: 60 * $vp;
				li{
					padding-top: 40 * $vp;
					position: relative;
				}
				i{
					background: $color-blue;
					width: 54 * $vp;
					height: 54 * $vp;
					border-radius:50%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					align-items: center;
					font-size: 28 * $vp;
					font-weight: 600;
					color: #fff;
					letter-spacing:normal;
					position: absolute;
					left: 0;
					right: 0;
					top: -27 * $vp;
					margin: auto;
					label{
						display: block;
						font-size: 10 * $vp;
						margin-bottom: -2px;
					}
				}
				h3{
					font-weight: 500;
					font-size: 24 * $vp;
					text-align: center;
					margin-bottom: 20 * $vp;
				}
				.col-image{
					margin-bottom: 20 * $vp;
					img{
						width: 100%;
						height: 155 * $vp;
						object-fit:cover;
						border-radius:10 * $vp;
					}
				}
				.col-text{
					font-size: 14 * $vp;
					p{
						&:not(:last-child){
							margin-bottom: 10 * $vp;
						}
						&.is-attention{
							color: #999999;
						}
						&.is-small{
							font-size: 12 * $vp;
							color: #999999;
						}
					}
				}
				&.is-arrow{
					li{
						&:after{
							content:'';
							width: 0;
							height: 0;
							border-style: solid;
							border-top: 20 * $vp solid transparent;
							border-bottom: 20 * $vp solid transparent;
							border-left: 20 * $vp solid #ffffff;
							border-right: 0;
							position: absolute;
							top: 0;
							bottom: 0;
							margin: auto;
							right: -19 * $vp;
							z-index:10;
						}
						&:last-child{
							&:after{
								display: none;
							}
						}
					}
				}
			}
			.online-product{
				margin-top: 60 * $vp;
				h3{
					font-size: 24 * $vp;
					font-weight: 500;
					margin-bottom: 30 * $vp;
					padding-bottom: 30 * $vp;
					border-bottom: 1px solid #ccc;
				}
				.list-5col{
					a{
						display: block;
						&:hover{
							text-decoration: none;
							opacity: 0.7;
						}
					}
					.list-image{
						margin-bottom: 10 * $vp;
						img{
							width: 100%;
							height: 110 * $vp;
							object-fit:cover;
							border-radius:10 * $vp;
						}
					}
					.list-text{
						h3{
							font-weight: 700;
							font-size: 14 * $vp;
							line-height: 1.3;
							position: relative;
							display: flex;
							align-items: center;
							margin-bottom: 0;
							border-bottom: 0;
							&:after{
								content:'';
								background: url('../img/arrow-blue.svg') no-repeat;
								width: 15 * $vp;
								height: 10 * $vp;
								display: block;
								background-size: 100%;
								margin-left: 0.5em;
							}
						}
					}
				}
			}
			.showroom-image{
				width: 700 * $vp;
				margin: 0 auto;
				img{
					border-radius:10 * $vp;
				}
			}
			.showroom-imageList{
				margin-top: 60 * $vp;
				.list-image{
					margin-bottom: 20 * $vp;
					position: relative;
					img{
						width: 100%;
						height: 215 * $vp;
						object-fit:cover;
						border-radius:10 * $vp;
					}
					i{
						display: block;
						width: 30 * $vp;
						height: 30 * $vp;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						background: $blue-grade;
						color: #FFF;
						font-size: 18 * $vp;
						font-weight: 700;
						position: absolute;
						bottom: 15 * $vp;
						left: 15 * $vp;
					}
				}
				.list-text{
					h3{
						font-size: 18 * $vp;
						margin-bottom: 15 * $vp;
						font-weight: 500;
					}
					p{
						font-size: 14 * $vp;
					}
				}
			}
			.showroom-cta{
				padding-top: 55 * $vp;
				text-align: center;
				.cta-btn{
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 30 * $vp;
					.btn-main{
						width: 427 * $vp;
						font-size: 18 * $vp;
					}
				}
				.large{
					font-size: 18 * $vp;
					margin-bottom: 10 * $vp;
					font-weight: 500;
					line-height: 1.6;
				}
				.attention{
					font-size: 14 * $vp;
					color: #999;
				}
			}
		}
	}
	.productHeader{
		width: 94%;
		height: 400 * $vp;
		display: flex;
		align-items: center;
		margin: 0 auto 60 * $vp auto;
		background: #f2f4f5;
		border-radius:20 * $vp;
		.header-image{
			width: 41.8%;
			height: 100%;
			flex-shrink: 0;
			overflow: hidden;
			background: #e3e5e8;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius:0 20 * $vp 20 * $vp 0;
			img{
				width: auto;
				max-height:330 * $vp;
			}
			.productheader__slider{
				width: 100%;
				div{
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
				}
				.slick-dots{
					width: auto;
					text-align: right;
					right: 40 * $vp;
					bottom: -20 * $vp !important;
					top:auto;
					z-index:1000;
				}
				.slick-arrow{
					width: 10 * $vp !important;
					height: 20 * $vp !important;
					z-index:1000;
					&.slick-prev{
						left: auto !important;
						right: 110 * $vp !important;
						bottom: -35 * $vp !important;
						&:before{
							width: 10 * $vp !important;
							height: 20 * $vp !important;
							background-size: cover;
						}
					}
					&.slick-next{
						left: auto !important;
						right: 20 * $vp !important;
						bottom: -35 * $vp !important;
						&:before{
							width: 10 * $vp !important;
							height: 20 * $vp !important;
							background-size: cover !important;
						}
					}
				}
			}
		}
		.header-text{
			flex-grow: 1;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 0 9%;
		}
		h1{
			font-size: 40 * $vp;
			line-height: 1.3;
			margin-bottom: 20 * $vp;
		}
		p{
			font-size: 20 * $vp;
		}
		&.is-showroom{
			.header-text{
				p{
					font-size: 16 * $vp;
				}
			}
			.header-image{
				img{
					width: 100%;
					max-height: 100%;
					object-fit:cover;
				}
				.productheader__slider{
					.slick-dots{
						bottom: 16 * $vp !important;
					}
				}
				.slick-arrow{
					&.slick-arrow, &.slick-next{
						bottom: 2 * $vp !important;
					}
				}
			}
		}
	}
	.product__catalog{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 80 * $vp;
		a{
			width: 425 * $vp;
			margin: 0 10 * $vp;
		}
	}
	.product__movie{
		display: flex;
		justify-content: center;
		margin: 0 -15 * $vp 60 * $vp -15 * $vp;
		.movie-item{
			max-width: 700 * $vp;
			min-width: calc(100% / 2 - #{30 * $vp});
			height: auto;
			aspect-ratio:1 / 0.6;
			margin: 0 15 * $vp;
			position: relative;
			.movie-image{
				img{
					height: auto;
					aspect-ratio:1 / 0.6;
					border-radius:10 * $vp;
					object-fit:cover;
				}
			}
			button{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				color: #fff;
				cursor:pointer;
				img{
					margin-bottom: 20px;
				}
				&:hover{
					opacity: 0.7;
				}
			}
		}
	}
	.product__logo{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 45 * $vp;
		a{
			pointer-events:none;
			margin: 0 10 * $vp;
		}
	}
	.product__nav{
		font-size: 18 * $vp;
		margin-bottom: 125 * $vp;
		ul{
			display: flex;
			align-items: center;
			justify-content: center;
			li{
				border-left: 1px solid #cbcbcb;
				&:last-child{
					border-right: 1px solid #cbcbcb;
				}
				a{
					display: inline-flex;
					align-items: center;
					justify-content: center;
					height: 30 * $vp;
					padding: 0 15 * $vp 0 30 * $vp;
					&:after{
						content:'';
						background: url('../img/btn-arrow-min.svg') no-repeat;
						width: 10 * $vp;
						height: 5 * $vp;
						display: block;
						margin-left: 15 * $vp;
					}
				}
			}
		}
	}
	.product__info{
		margin-bottom: 120 * $vp;
		h2{
			position: relative;
			font-size: 36 * $vp;
			font-weight: 500;
			text-align: center;
			letter-spacing:2px;
			margin-bottom: 60 * $vp;
			&:before{
				content:'';
				width: 40 * $vp;
				height: 4 * $vp;
				background: $blue-grade;
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				top: -30 * $vp;
			}
		}
		.description{
			text-align: center;
			font-size: 18 * $vp;
			line-height: 2;
			margin-bottom: 40 * $vp;
		}
		.product-col{
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 40 * $vp;
			&:last-child{
				margin-bottom: 0;
			}
			h3{
				width: 100%;
				font-size: 24 * $vp;
				font-weight: 500;
				padding-bottom: 30 * $vp;
				margin-bottom: 25 * $vp;
				border-bottom: 1px solid #cbcbcb;
			}
			.col-text{
				width: calc(100% - #{350 * $vp});
				padding-right: 30 * $vp;
				p{
					font-size: 14 * $vp;
					color: #666666;
				}
				i{
					color: #989898;
				}
			}
			.col-image{
				width: 320 * $vp;
				img{
					border-radius:10 * $vp;
				}
			}
		}
		.spec-table{
			border-top: 1px solid #cbcbcb;
			width: 100%;
			tr{
				border-bottom: 1px solid #cbcbcb;
			}
			th{
				background: #e5e9ec;
				text-align: center;
				font-weight: 500;
				font-size: 18 * $vp;
				padding: 20 * $vp;
				line-height: 1.8;
				width: 245 * $vp;
				vertical-align: middle;
			}
			td{
				padding: 20 * $vp;
				vertical-align: middle;
				line-height: 1.8;
				font-feature-settings: "palt";
				letter-spacing:.5 * $vp;
			}
		}
		.report__col{
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 -10 * $vp;
			.report-box{
				max-width: 515 * $vp;
				min-width: calc(100% / 2 - #{20 * $vp});
				height: 180 * $vp;
				margin: 0 10 * $vp;
				background: #fff;
				border-radius:10 * $vp;
				box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
				a{
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}
				.box-image{
					width: 50%;
					img{
						width: 100%;
						height: 180 * $vp;
						object-fit:cover;
						border-radius:10 * $vp 0 0 10 * $vp;
					}
				}
				.box-text{
					width: 50%;
					height: 180 * $vp;
					padding:0 15 * $vp;
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
					h3{
						font-weight: 700;
						font-size: 18 * $vp;
						line-height: 1.4;
					}
					.name{
						line-height: 1;
						font-size: 14 * $vp;
						color: #333333;
						margin-top: 20  * $vp;
					}
					&:after{
						content:'';
						background: url('../img/arrow-grade.svg') no-repeat;
						width: 20 * $vp;
						height: 20 * $vp;
						background-size: 100%;
						display: block;
						position: absolute;
						right: 10 * $vp;
						bottom: 10 * $vp;
					}
				}
			}
		}
	}
	.product__showroom{
		background: #f2f4f5;
		padding: 90 * $vp 0 50 * $vp 0;
		h2{
			position: relative;
			font-size: 36 * $vp;
			font-weight: 500;
			text-align: center;
			letter-spacing:2px;
			margin-bottom: 30 * $vp;
			&:before{
				content:'';
				width: 40 * $vp;
				height: 4 * $vp;
				background: $blue-grade;
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				top: -30 * $vp;
			}
		}
		.description{
			text-align: center;
			margin-bottom: 40 * $vp;
		}
		.showroom-col{
			display: flex;
			align-items: center;
			border-right:1px solid #cbcbcb;
			border-left:1px solid #cbcbcb;
			position: relative;
			.showroom-box{
				width: 50%;
				padding:0 30 * $vp;
				text-align: center;
				.btn-main{
					width: 427 * $vp;
				}
			}
			&:before{
				content:'';
				width: 1px;
				height: 100%;
				background: #cbcbcb;
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
			h3{
				font-weight: 700;
				font-size: 20 * $vp;
				line-height: 1.3;
				margin-bottom: 20 * $vp;
				strong{
					font-size: 28 * $vp;
				}
			}
			p{
				font-size: 14 * $vp;
				color: #989898;
				line-height: 1.6;
			}
		}
	}
	.product__imagenav{
		background: #f2f4f5;
		padding: 40 * $vp 0;
		.list-3col{
			.list-image{
				margin-bottom: 20 * $vp;
				img{
					width: 100%;
					height: 190 * $vp;
					object-fit:cover;
					border-radius:10 * $vp;
				}
			}
			.list-text{
				h3{
					font-weight: 700;
					display: flex;
					align-items: center;
					font-size: 18 * $vp;
					&:after{
						content:'';
						background: url('../img/arrow-blue.svg') no-repeat;
						width: 15 * $vp;
						height: 10 * $vp;
						display: block;
						background-size: 100%;
						margin-left: 0.5em;
					}
				}
			}
		}
	}
}
.news{
	margin-bottom: 150 * $vp;
	.newsList{
		.news__tab{
			display: flex;
			margin-bottom: 40 * $vp;
			li{
				width: calc(100% / 3);
				height: 60 * $vp;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 700;
				background: #EEE;
				border-right: 1px solid #fff;
				border-bottom: 1px solid $color-blue;
				&.is-active{
					border-top: 1px solid $color-blue;
					border-left: 1px solid $color-blue;
					border-right: 1px solid $color-blue;
					border-bottom: 1px solid #fff;
					border-radius:10 * $vp 10 * $vp 0 0;
					background: #FFF;
					color: $color-blue;
				}
			}
		}
		.archive_tab{
			display: flex;
			align-items: center;
			margin-bottom: 20 * $vp;
			li{
				height: 30 * $vp;
				padding: 0 30 * $vp;
				border-left:1px solid #cbcbcb;
				border-bottom: 0;
				display: flex;
				align-items: center;
				font-size: 18 * $vp;
				position: relative;
				&:last-child{
					border-right:1px solid #cbcbcb;
				}
				&.is-active{
					background: $color-blue;
					color: #fff;
					box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
					&:after{
						content:'';
						width: 0;
						height: 0;
						border-style: solid;
						border-right: 5px solid transparent;
						border-left: 5px solid transparent;
						border-top: 5px solid $color-blue;
						border-bottom: 0;
						position: absolute;
						left: 0;
						right: 0;
						bottom: -6 * $vp;
						margin: auto;
					}
				}
			}
		}
		.news__list{
			width: calc(100% - #{120 * $vp});
			margin: 0 auto;
			display: none;
			&.is-active{
				display: block;
			}
			.tab__inner{
				li{
					display: flex;
					padding: 20 * $vp 0;
					border-bottom: 1px solid #C8C8C8;
					.cat{
						position: relative;
						width: 130 * $vp;
						height: 30 * $vp;
						border-radius:5 * $vp;
						font-size: 14 * $vp;
						color: #FFF;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						background: #000;
						margin-right: 20 * $vp;
						span{
							background: #B9272D;
							width: 30 * $vp;
							height: 30 * $vp;
							border-radius:50%;
							font-weight: 700;
							color: #fff;
							font-size: 10 * $vp;
							display: flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							top: -15 * $vp;
							left: -15 * $vp;
						}
					}
					time{
						width: 90 * $vp;
						font-weight: 700;
						color: #666;
						font-size: 14 * $vp;
						line-height: 1.4;
					}
					h2{
						font-weight: 500;
						position: relative;
						width: calc(100% - #{240 * $vp});
						line-height: 1.4;
						a{
							display: block;
							&:before{
								content:'';
								background: url('../img/arrow-blue.svg') no-repeat;
								width: 12 * $vp;
								height: 8 * $vp;
								display: block;
								background-size: 100%;
								position: absolute;
								top: 0;
								bottom: 0;
								margin: auto;
								right: 20 * $vp;
								transition: .3s;
							}
							&:hover{
								&:before{
									right: 10 * $vp;
								}
							}
						}
					}
				}
			}
		}
	}
	.newsBody{
		margin-top: 20 * $vp;
		h1{
			font-size: 36 * $vp;
			font-weight: 500;
			margin-bottom: 60 * $vp;
		}
		.news-meta{
			display: flex;
			align-items: center;
			margin-bottom: 30 * $vp;
			.cat{
				display: inline-flex;
				background: #000;
				min-width: 130 * $vp;
				height: 30 * $vp;
				color: #fff;
				padding: 0 15 * $vp;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 14 * $vp;
				border-radius:5 * $vp;
				margin-right: 20 * $vp;
			}
			time{
				font-weight: 700;
				color: #666;
				font-size: 14 * $vp;
			}
		}
		.news-text{
			color: #666;
			margin-bottom: 80 * $vp;
			font-size: 14 * $vp;
			h2{
				font-size: 24 * $vp;
				margin-bottom: 25 * $vp;
				padding-bottom: 25 * $vp;
				border-bottom: 1px solid #ccc;
				color: #333;
			}
			p, ul, ol, dl, table, blockquote{
				line-height: 2;
				margin-bottom: 30 * $vp;
			}
			ul, ol{
				margin: 1.5em;
				li{
					line-height: 1.6;
					margin-bottom: 7.5 * $vp;
				}
			}
			ul{
				list-style-type: disc;
			}
			ol{
				list-style-type: decimal;
			}
			blockquote{
				background: #d9e3ed;
				padding: 20 * $vp;
				border-radius:20 * $vp;
				p{
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			table{
				border:1px solid #666;
				width: 100%;
				th, td{
					text-align: left;
					padding: 10 * $vp;
					border:1px solid #666;
				}
				th{
					font-weight: 600;
				}
			}
		}
	}
}
.subPage{
	margin-bottom: 150 * $vp;
	.subPageBody{
		margin-top: 20 * $vp;
	}
	h1{
		font-size: 36 * $vp;
		font-weight: 500;
		margin-bottom: 60 * $vp;
	}
	.description{
		font-size: 18 * $vp;
		margin-bottom: 60 * $vp !important;
		font-weight: 500;
		color:#333333;
	}
	.page-text{
		color: #666;
		margin-bottom: 80 * $vp;
		font-size: 14 * $vp;
		h2{
			font-size: 24 * $vp;
			margin-bottom: 25 * $vp;
			padding-bottom: 25 * $vp;
			border-bottom: 1px solid #ccc;
			color: #333;
		}
		h3{
			font-size: 16 * $vp;
			font-weight: 600;
			margin-bottom: 15 * $vp;
		}
		p, ul, ol, dl, table, blockquote{

			line-height: 2;
			margin-bottom: 30 * $vp;
		}
		ul, ol{
			margin: 1.5em;
			li{
				line-height: 1.6;
				margin-bottom: 7.5 * $vp;
			}
		}
		ul{
			list-style-type: disc;
		}
		ol{
			list-style-type: decimal;
		}
		blockquote{
			background: #d9e3ed;
			padding: 20 * $vp;
			border-radius:20 * $vp;
			p{
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		table{
			border:1px solid #666;
			width: 100%;
			th, td{
				text-align: left;
				padding: 10 * $vp;
				border:1px solid #666;
			}
			th{
				font-weight: 600;
			}
			&.agreement-table{
				border:0;
				border-top: 1px solid #cbcbcb;
				line-height: 1.8;
				margin-top: 30 * $vp;
				tr{
					border-bottom: 1px solid #cbcbcb;
				}
				th{
					background: #e5e9ec;
					text-align: center;
					font-weight: 600;
					vertical-align: middle;
					padding: 15 * $vp;
					border:0;
				}
				td{
					vertical-align: middle;
					padding: 15 * $vp;
					border:0;
					font-weight: 500;
				}
			}
		}
	}
}
.agreement{
	.addressBox{
		background: #f2f4f5;
		width: auto;
		display: inline-flex;
		flex-direction: column;
		margin-bottom: 45 * $vp;
		padding: 20 * $vp;
		h4{
			font-size: 18 * $vp;
			font-weight: 600;
			margin-bottom: 10 * $vp;
		}
		dl{
			display: flex;
			align-items: center;
			font-weight: 500;
			margin: 7.5 * $vp 0;
			dt{
				width: 45 * $vp;
				height: 27 * $vp;
				border:1px solid #000;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				font-size: 13 * $vp;
				border-radius:4 * $vp;
			}
			dd{
				width: calc(100% - #{45 * $vp});
				padding-left: 15 * $vp;
				font-size: 12 * $vp;
				line-height: 1.4;
			}
		}
		.address-1line{
			display: flex;
			dd{
				flex-grow: 1;
			}
		}
		.address-2line{
			display: flex;
			flex-wrap: wrap;
			dd{
				width: 115 * $vp;
			}
		}
	}
	.is-parent{
		counter-reset: number 0;
		list-style-type: none !important;
		margin-left: 0;
		> li{
			position: relative;
			padding-left: 1.5em;
			&:before{
				counter-increment: number 1;
				content: counter(number)". ";
				position: absolute;
				top: 0;
				left: 0;
			}
			> p{
				margin-bottom: 0;
				line-height: 1.6;
				 + h4{
				 	margin-top: 20 * $vp;
				 	+ p{
				 		margin-left: 1em;
				 	}
				 }
			}
			h5{
				+ p{
					margin-left: 1em;
				}
			}
			.is-nest{
				counter-reset: number 0;
				list-style-type: none !important;
				li{
					position: relative;
					padding-left: 1.5em;
					margin-bottom: 10 * $vp;
					&:before{
						counter-increment: number 1;
						content: "（"counter(number)"）";
						position: absolute;
						top: 0;
						left: -1em;
					}
				}
			}
		}
	}
}
.policy{
	.subPageBody{
		.page-text{
			h2{
				font-size: 16 * $vp;
				font-weight: 600;
				border-bottom: 0;
				padding-bottom: 0;
				margin-bottom: 15 * $vp;
			}
		}
	}
}
.company{
	.subPageHeader{
		h1{
			font-size: 40 * $vp;
		}
	}
	.companyBody{
		h2{
			margin-bottom: 50 * $vp;
		}
		.company-box{
			margin-bottom: 160 * $vp;
		}
		.company-table{
			border-top: 1px solid #c8c8c8;
			line-height: 1.6;
			width: 100%;
			tr{
				border-bottom: 1px solid #c8c8c8;
			}
			th{
				width: 245 * $vp;
				font-size: 18 * $vp;
				font-weight: 500;
				padding: 15 * $vp;
				vertical-align: middle;
				background: #e5e9ec;
			}
			td{
				padding: 15 * $vp;
				vertical-align: middle;
				.table-text{
					display: flex;
					align-items: center;
					.text{
						flex-grow: 1;
						display: block;
						a{
							color: $color-blue;
							display: inline-flex;
							align-items: center;
						}
					}
					.img{
						width: 180 * $vp;
						flex-shrink: 0;
						margin-left: 40 * $vp;
						img{
							border-radius:5 * $vp;
						}
					}
					.btn{
						width: 227 * $vp;
						margin-left: 40 * $vp;
						a{
							width: 227 * $vp;
						}
					}
				}
				a[target="_blank"]{
					position: relative;
					&:after{
						content:'';
						background: url('../img/icon-window.svg') no-repeat;
						width: 15 * $vp;
						height: 12.5 * $vp;
						background-size: 100%;
						margin-left: 0.3em;
					}
				}
			}
		}
		&.company-top{
			margin-top: 60 * $vp;
			.company-top-intro{
				padding-bottom: 80 * $vp;
				.intro-col{
					display: flex;
					.col-text{
						width: 550 * $vp;
						h2{
							font-size: 44 * $vp;
							font-weight: 500;
							line-height: 1.3;
							margin-bottom: 30 * $vp;
						}
						p{
							line-height: 2.5;
							font-size: 20 * $vp;
						}
					}
					.col-image{
						width: 550 * $vp;
						margin-left: 50 * $vp;
					}
				}
			}
			.company-top-concept{
				background: #f2f4f5;
				padding: 110 * $vp 0 100 * $vp 0;
				h2{
					font-size: 36 * $vp;
				}
				.description{
					font-size: 18 * $vp;
					text-align: center;
					margin-bottom: 40 * $vp;
					line-height: 2;
				}
				.concept-image{
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: relative;
					.image-box{
						background: $blue-grade;
						width: 400 * $vp;
						height: 400 * $vp;
						border-radius:50%;
						color: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						flex-direction: column;
						z-index:10;
						position: relative;
						h3{
							font-size: 42 * $vp;
							font-weight: 500;
							margin-bottom: 30 * $vp;
							span{
								display: block;
								font-size: 16 * $vp;
								margin-top: 15 * $vp;
								font-weight: 600;
							}
						}
						p{
							font-size: 14 * $vp;
						}
					}
					&:before{
						content:'';
						width: 300 * $vp;
						height: 4 * $vp;
						background: $blue-grade;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						transform:rotate(45deg);
						z-index:1;
					}
					&:after{
						content:'';
						width: 300 * $vp;
						height: 4 * $vp;
						background: $blue-grade;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						transform:rotate(-45deg);
						z-index:1;
					}
				}
			}
		}
		&.about{
			.about-mv{
				text-align: center;
				width: 700 * $vp;
				margin:0 auto 80 * $vp auto;
				img{
					width: 100%;
					height: 420 * $vp;
					object-fit:cover;
					border-radius:10 * $vp;
				}
			}
			h2{
				text-align: center;
				margin-bottom: 100 * $vp;
			}
			h3{
				font-size: 36 * $vp;
				margin-bottom: 60 * $vp;
			}
			.about-box{
				margin-bottom: 100 * $vp;
			}
			.is-caption{
				text-align: right;
				margin-top: 15 * $vp;
				font-size: 14 * $vp;
			}
		}
		&.history{}
		&.access{
			h2{
				font-size: 36 * $vp;
				margin-bottom: 60 * $vp;
			}
			h3{
				font-size: 24 * $vp;
				font-weight: 500;
				border-bottom: 1px solid #ccc;
				margin-bottom: 25 * $vp;
				padding-bottom: 25 * $vp;
			}
			.access-col{
				display: flex;
				flex-wrap: wrap;
				margin: -20 * $vp -20 * $vp 60 * $vp -20 * $vp;
				.access-box{
					width: calc(100% / 2 - #{40 * $vp});
					margin: 20 * $vp;
					.access-map{
						margin-bottom: 20 * $vp;
						iframe{
							width: 100%;
							height: auto;
							aspect-ratio:12 / 8;
							border-radius:10 * $vp;
						}
						.map-over{
							line-height: 1;
							margin-top: 10 * $vp;
							font-size: 14 * $vp;
							text-align: right;
							a{
								color: $color-blue;
								text-decoration: underline;
								font-weight: 500;
								&:after{
									content:'';
									background: url('/assets/img/icon-target.svg') no-repeat;
									width: 10 * $vp;
									height: 10 * $vp;
									background-size: cover;
									display: inline-flex;
									margin-left: 0.3em;
								}
							}
						}
					}
					dl{
						display: flex;
						width: 345 * $vp;
						align-items: center;
						dt{
							font-size: 13 * $vp;
							width: 45 * $vp;
							border-radius:4 * $vp;
							border:1px solid #000;
							height: 25 * $vp;
							display: flex;
							align-items: center;
							justify-content: center;
							text-align: center;
							margin-right: 15 * $vp;
							flex-shrink: 0;
						}
						dd{
							font-size: 12 * $vp;
							line-height: 1.4;
							small{
								display: block;
								color: #999999;
							}
						}
						&.access-address{
							margin-top: -30 * $vp;
							margin-bottom: 10 * $vp;
						}
						&.access-line{
							dd{
								width: 100 * $vp;
							}
						}
					}
					
				}
			}
			.access-list{
				.list-panel{
					margin-bottom: 20 * $vp;
					border:1px solid #999;
					padding: 20 * $vp;
					> dt{
						font-size: 20 * $vp;
						position: relative;
						span{
							width: 15 * $vp;
							height: 15 * $vp;
							position: absolute;
							top: 0;
							bottom: 0;
							right: 20 * $vp;
							margin: auto;
							display: flex;
							align-items: center;
							justify-content: center;
							&:before{
								content:'';
								width: 15 * $vp;
								height: 1 * $vp;
								background: $color-blue;
								display: block;
								position: absolute;
							}
							&:after{
								content:'';
								width: 1 * $vp;
								height: 15 * $vp;
								background: $color-blue;
								display: block;
							}
						}
						&.active{
							span{
								&:after{
									display: none;
								}
							}
						}
					}
					> dd{
						margin-top: 20 * $vp;
						padding-top: 20 * $vp;
						border-top: 1px dashed #999;
						display: none;
						.panel-col{
							display: flex;
							flex-wrap: wrap;
							margin: -10 * $vp;
							.panel-box{
								width: calc(100% / 3 - #{20 * $vp});
								background: #f2f4f5;
								padding: 20 * $vp;
								margin: 10 * $vp;
								display: flex;
								flex-direction: column;
							}
							h4{
								font-size: 18 * $vp;
								font-weight: 600;
								margin-bottom: 20 * $vp;
							}
							dl{
								display: flex;
								align-items: center;
								flex-wrap: wrap;
								margin-bottom: 10 * $vp;
								dt{
									font-size: 13 * $vp;
									width: 45 * $vp;
									border-radius:4 * $vp;
									border:1px solid #000;
									height: 25 * $vp;
									display: flex;
									align-items: center;
									justify-content: center;
									text-align: center;
									margin-right: 15 * $vp;
									flex-shrink: 0;
								}
								dd{
									font-size: 12 * $vp;
									line-height: 1.4;
									width: calc(100% - #{60 * $vp});
									small{
										display: block;
										color: #999999;
									}
								}
							}
							.map-over{
								line-height: 1;
								margin-top: 10 * $vp;
								font-size: 14 * $vp;
								text-align: right;
								margin:20 * $vp 0 auto 0;
								a{
									color: $color-blue;
									text-decoration: underline;
									font-weight: 600;
									&:after{
										content:'';
										background: url('/assets/img/icon-target.svg') no-repeat;
										width: 10 * $vp;
										height: 10 * $vp;
										background-size: cover;
										display: inline-flex;
										margin-left: 0.3em;
									}
								}
							}
						}
					}
				}
			}
			.access-globalmap{
				margin-bottom: 80 * $vp;
			}
			.cards-3col{
				.cards-image{
					margin-bottom: 20 * $vp;
					text-align: center;
					img{
						width: 100%;
						height: 165 * $vp;
						object-fit:cover;
						border-radius:20 * $vp;
					}
				}
				.cards-text{
					.cat{
						border-radius:5 * $vp;
						border:1px solid #000;
						padding: 5 * $vp;
						display: inline-flex;
						align-items: center;
						font-size: 13 * $vp;
					}
					h3{
						font-size: 13 * $vp;
						font-weight: 500;
						line-height: 1.4;
						margin-top: 10 * $vp;
						margin-bottom: 20 * $vp;
						border-bottom: 0;
						padding-bottom: 0;
						height: 3em;
						display: flex;
						align-items: center;
					}
					.flag-col{
						display: flex;
						align-items: center;
						margin-bottom: 20 * $vp;
						.flag-image{
							width: 90 * $vp;
							margin-right: 20 * $vp;
							img{
								width: 100%;
								height: 60 * $vp;
								object-fit:cover;
							}
						}
						.flag-text{
							line-height: 1.5;
							font-size: 13 * $vp;
						}
					}
				}
				.btn-main{
					margin: 0 auto;
					width: 227 * $vp;
				}
			}
		}
		&.message{
			h2{
				text-align: center;
				margin-bottom: 25 * $vp;
			}
			.message-mv{
				margin-bottom: 30 * $vp;
			}
			h3{
				font-size: 32 * $vp;
				font-weight: 500;
				line-height: 1.8;
				margin-bottom: 20 * $vp;
			}
			.company-box{
				margin-bottom: 100 * $vp;
				p{
					margin-bottom: 30 * $vp;
					line-height: 2;
					font-size: 14 * $vp;
				}
				.name{
					text-align: right;
					font-size: 16 * $vp;
					line-height: 1.6;
				}
			}
			.message-box{
				margin-bottom: 60 * $vp;
			}
		}
		&.zero_for{
			.zero_for-intro{
				padding: 60 * $vp 0 75 * $vp 0;
				.intro-col{
					display: flex;
					align-items: center;
					justify-content: space-between;
					.intro-text{
						width: 550 * $vp;
						p{
							font-size: 20 * $vp;
							line-height: 2.5;
							letter-spacing:2px;
						}
					}
					.intro-image{
						width: 490 * $vp;
					}
				}
			}
			.zero_for-body{
				padding-bottom: 120 * $vp;
				.zero_for-box{
					position: relative;
					margin-top: 115 * $vp;
					.zero_for-col{
						display: flex;
						align-items: center;
						.col-image{
							width: 536 * $vp;
							margin-right: 52 * $vp;
							img{
								width: 100%;
								height: 400 * $vp;
								object-fit:cover;
								border-radius:20 * $vp;
							}
						}
						.col-text{
							width: 510 * $vp;
							h2{
								margin-bottom: 50 * $vp;
							}
							h3{
								font-size: 20 * $vp;
								font-weight: 600;
								margin-bottom: 20 * $vp;
								strong{
									font-size: 24 * $vp;
								}
							}
							p{
								line-height: 2.2;
							}
						}
					}
					&:before{
						content:'';
						width: 75.3%;
						height: 260 * $vp;
						background: #f2f4f5;
						display: block;
						position: absolute;
						top: -60 * $vp;
						left: 0;
						z-index:-1;
					}
					&:nth-child(even){
						.col-image{
							order:1;
							margin-right: 0;
							margin-left: 52 * $vp;
						}
						&:before{
							left: auto;
							right: 0;
						}
					}
				}
			}
			.zero_for-series{
				background: #f2f4f5;
				padding: 100 * $vp 0 120 * $vp 0;
				h2{
					text-align: center;
					margin-bottom: 60 * $vp;
				}
				.series-col{
					display: flex;
					margin: 0 -10 * $vp;
					.series-box{
						width: calc(100% / 3 - #{20 * $vp});
						background: #fff;
						border-radius:10 * $vp;
						box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
						padding: 20 * $vp 20 * $vp 40 * $vp 20 * $vp;
						display: flex;
						flex-direction: column;
						align-items: center;
						text-align: center;
						margin: 0 10 * $vp;
						.box-image{
							margin-bottom: 20 * $vp;
						}
						.box-name{
							font-weight: 700;
							font-size: 28 * $vp;
							margin-bottom: 20 * $vp;
							line-height: 1.3;
						}
						.box-logo{
							margin-bottom: 40 * $vp;
						}
						.btn-main{
							width: 227 * $vp;
							margin: auto auto 0 auto;
						}
					}
				}
			}
			.zero_for-movie{
				padding: 130 * $vp 0 120 * $vp 0;
				h2{
					font-size: 36 * $vp;
				}
				.movie__inner{
					width: 700 * $vp;
					margin: 0 auto;
					.movie-thumb{
						width: 100%;
						height: 420 * $vp;
						position: relative;
						text-align: center;
						&:before{
							content:'';
							background: rgba(51,51,51,.3);
							width: 100%;
							height: 420 * $vp;
							border-radius:10 * $vp;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
						}
						.movie-play{
							width: 100%;
							height: 420 * $vp;
							position: absolute;
							top: 0;
							left: 0;
							display: flex;
							align-items: center;
							justify-content: center;
							text-align: center;
							color: #fff;
							button{
								cursor:pointer;
								transition:.3s;
								img{
									margin-bottom: 10 * $vp;
								}
								&:hover{
									text-decoration: none;
									opacity: 0.7;
								}
							}
						}
					}
				}
			}
		}
	}
	.companyFooter-img{
		padding: 100 * $vp;
		.company-content{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: -20 * $vp -10 * $vp;
			position: relative;
			li{
				width: calc(100% / 4 - #{20 * $vp});
				margin: 20 * $vp 10 * $vp;
				.nav-image{
					margin-bottom: 20 * $vp;
					img{
						width: 100%;
						height: 156 * $vp;
						object-fit:cover;
						border-radius:10 * $vp;
					}
				}
				.nav-text{
					display: flex;
					align-items: center;
					font-weight: 700;
					h3{
						font-size: 18 * $vp;
						line-height: 1.5;
						small{
							font-size: 14 * $vp;
							display: block;
						}
					}
					
					&:after{
						content:'';
						background: url('../img/arrow-blue.svg') no-repeat;
						width: 15 * $vp;
						height: 10 * $vp;
						display: block;
						background-size: 100%;
						transition: .3s;
						margin-left: 0.5em;
					}
				}
			}
			&:after{
				content:'';
				background: #f2f4f5;
				width: 1040 * $vp;
				height: 448 * $vp;
				display: block;
				position: absolute;
				top: 70 * $vp;
				left: 0;
				right: 0;
				margin: auto;
				z-index:-1;
			}
		}
	}
	.companyFooter{
		background: #d9e3ed;
		padding: 40 * $vp 0;
		.company-content{
			margin: -10 * $vp;
			display: flex;
			flex-wrap: wrap;
			a{
				margin: 10 * $vp;
				width: 227 * $vp;
				&.is-active{
					background: #ccc;
					color: #000;
					border:0;
					pointer-events:none;
					&:before{
						display: none;
					}
				}
			}
		}
	}
}
.doctor{
	.doctorBody{
		margin-bottom: 100 * $vp;
		.description{
			text-align: center;
			font-size: 18 * $vp;
			margin-bottom: 60 * $vp;
			small{
				font-size: 14 * $vp;
				color: #999;
			}
			+ .btn-long{
				margin-top: -20 * $vp;
			}
		}
	}
	.doctorBlock{
		margin-top: 135 * $vp;
		h2{
			margin-bottom: 50 * $vp;
		}
		.cards-1col{
			li{
				margin: 20 * $vp 0;
			}
			.cards-image{
				width: 425 * $vp;
				margin-right: 40 * $vp;
				flex-shrink: 0;
				img{
					width: 100%;
					height: 280 * $vp;
					object-fit:cover;
					border-radius:10 * $vp;
				}
			}
			.cards-text{
				flex-grow: 1;
				h3{
					font-size: 24 * $vp;
					font-weight: 500;
					line-height: 1.5;
					margin-bottom: 35 * $vp;
				}
				.cards-meta{
					display: flex;
					align-items: center;
					margin-bottom: 10 * $vp;
					.cat{
						display: inline-flex;
						height: 27 * $vp;
						padding: 5 * $vp;
						border:1px solid #000;
						border-radius:4 * $vp;
						margin-right: 10 * $vp;
					}
					.name{
						font-size: 13 * $vp;
					}
				}
				p{
					margin-top: -20 * $vp;
					color: #666;
				}
			}
			.cards-btn{
				margin-top: 30 * $vp;
				display: flex;
				align-items: center;
				justify-content: center;
				.btn-white{
					margin: 0 10 * $vp;
					width: 427 * $vp;
				}
			}
		}
		.cards-3col{
			li{
				padding: 0;
				min-height: 580 * $vp;
				position: relative;
			}
			.cards-image{
				position: relative;
				img{
					border-radius:10 * $vp 10 * $vp 0 0;
					width: 100%;
					height: 190 * $vp;
					object-fit:cover;
				}
				i{
					display: block;
					width: 30 * $vp;
					height: 30 * $vp;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					background: $blue-grade;
					color: #FFF;
					font-size: 18 * $vp;
					font-weight: 700;
					position: absolute;
					bottom: 15 * $vp;
					left: 15 * $vp;
				}
			}
			.cards-text{
				padding: 20 * $vp 20 * $vp 0 20 * $vp;
				display: flex;
				flex-direction: column;
				h2{
					font-size: 18 * $vp;
					line-height: 1.5;
					font-weight: 500;
					margin-bottom: 20 * $vp;
				}
				p{
					font-size: 12 * $vp;
					em{
						font-size: 13 * $vp;
					}
				}
				.cards-logo{
					width: 100%;
					height: 100 * $vp;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					text-align: center;
					margin-bottom: 20 * $vp;
				}
				.btn-center{
					position: absolute;
					width: 100%;
					bottom: 20 * $vp;
					left: 0;
					right: 0;
					.btn-main{
						width: 227 * $vp;
						margin: 0 auto;
					}
				}
				
			}
		}
	}
	.doctor-single{
		h1{
			font-size: 36 * $vp;
			font-weight: 500;
			line-height: 1.4;
		}
		.single-text{
			font-size: 14 * $vp;
			h2{
				font-size: 24 * $vp;
				font-weight: 500;
				margin-bottom: 30px;
				padding-bottom: 30px;
				border-bottom: 1px solid #ccc;
			}
			p{
				margin-bottom: 60 * $vp;
				line-height: 2;
				img{
					margin: 20 * $vp;
				}
			}
			.flex-box{
				display: flex;
				margin: 0 -20 * $vp;
				p, img{
					margin-left: 20 * $vp;
					margin-right: 20 * $vp;
				}
			}
			a{
				color: $color-blue;
			}
			ul, ol, dl, table, blockquote{
				margin-bottom: 60 * $vp;
				line-height: 1.8;
			}
			ul, ol{
				margin-left: 1.5em;
			}
			ul{
				list-style-type: disc;
			}
			ol{
				list-style-type: decimal;
			}
			table{
				border:1px solid #000;
				width: 100%;
				th, td{
					text-align: left;
					padding: 15 * $vp;
					border:1px solid #000;
				}
				th{
					font-weight: 500;
				}
			}
			blockquote{
				padding: 20 * $vp;
				border-radius:10 * $vp;
				background: rgba(242,244,246,1);
				p{
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.doctor-prof{
		margin: 30 * $vp 0 60 * $vp 0;
		background: rgba(242,244,246,1);
		padding: 40 * $vp;
		border-radius:20 * $vp;
		.prof-col{
			display: flex;
			.prof-image{
				width: 415 * $vp;
				margin-left: 40 * $vp;
			}
			.prof-text{
				flex-grow: 1;
			}
			.prof-logo{
				margin-bottom: 20 * $vp;
			}
			.prof-name{
				font-size: 24 * $vp;
				margin-bottom: 20 * $vp;
				font-weight: 500;
			}
			.prof-doctor{
				font-size: 12 * $vp;
				em{
					display: block;
					font-size: 14 * $vp;
				}
			}
		}
	}
	.doctor-people{
		background: rgba(242,244,246,1);
		padding: 60 * $vp;
		h3{
			font-size: 24 * $vp;
			font-weight: 500;
			border-bottom: 1px solid #ccc;
			margin-bottom: 30 * $vp;
			padding-bottom: 30 * $vp;
		}
		p{
			font-size: 14 * $vp;
			margin-bottom: 30 * $vp;
		}
		.people-list{
			img{
				border-radius:10 * $vp;
				width: 100%;
				height: 190 * $vp;
				object-fit:cover;
			}
		}
	}
	.doctor-catalog-thumb{
		display: flex;
		justify-content: center;
		margin-bottom: 60 * $vp;
		li{
			width: 140 * $vp;
			text-align: center;
			font-size: 12 * $vp;
			margin: 0 10 * $vp;
			.thumb{
				width: 140 * $vp;
				margin-bottom: 10 * $vp;
			}
			p{
				line-height: 1.5;
			}
		}
	}
	.inquiryBlock{
		background: rgba(242,244,246,1);
		padding: 100 * $vp 0 115 * $vp;
		.inquiry-description{
			font-size: 14 * $vp;
			color: #999;
			text-align: center;
			margin-bottom: 60 * $vp;
		}
	}
}
.ctaBox{
	margin-top: 60 * $vp;
	background: #f2f4f5;
	padding: 40 * $vp 20 * $vp;
	text-align: center;
	border-radius:10 * $vp;
	.cta-ttl{
		font-size: 24 * $vp;
		font-weight: 600;
		margin-bottom: 20 * $vp;
	}
	p{
		font-size: 14 * $vp;
		margin-bottom: 20 * $vp;
	}
	.cta-btn{
		width: 227 * $vp;
		margin: 0 auto;
		.btn-main{
			width: 100%;
			line-height: 1.3;
		}
	}
}
.toBack{
	background: $color-lblue;
	padding: 40 * $vp;
	.btn-white{
		width: 300 * $vp;
		margin: 0 auto;
		border:0;
		color: #000;
	}
}
.form{
	.formTable{
		width: 100%;
		margin-bottom: 60 * $vp;
		tr{
			position: relative;
			border-bottom: 1px solid #c8c8c8;
			&:before{
				content:'';
				background: #666;
				width: 200 * $vp;
				height: 1px;
				display: block;
				position: absolute;
				bottom: -1px;
				left: 0;
			}
		}
		th, td{
			padding: 20 * $vp 0;
			text-align: left;
			vertical-align: top;
		}
		th{
			width: 200 * $vp;
			font-weight: 500;
		}
	}
	.form-col{
		margin: 0 -10 * $vp;
		display: flex;
		align-items: center;
		.col-box{
			width: 50%;
			margin: 0 10 * $vp;
		}
	}
	.form-select{
		overflow: hidden;
		position: relative;
		border-radius: 2px;
		background: #ffffff;
		box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
		border-radius:10 * $vp;
		select{
			width: 100%;
			padding-right: 1em;
			cursor: pointer;
			text-indent: 0.01px;
			text-overflow: ellipsis;
			border: none;
			outline: none;
			background: transparent;
			background-image: none;
			box-shadow: none;
			-webkit-appearance: none;
			appearance: none;
			color: #666;
			padding: 15 * $vp 60 * $vp 15 * $vp 15 * $vp;
		}
		&:after{
			content:'';
			pointer-events: none;
			width: 10 * $vp;
			height: 20 * $vp;
			background: url('../img/icon-select.svg') no-repeat;
			background-size: cover;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 15 * $vp;
			margin: auto;
		}
	}
	input[type="text"], textarea{
		width: 100%;
		background: #fff;
		border-radius:10 * $vp;
		padding: 15 * $vp;
		box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
	}
	.privacy{
		text-align: center;
		font-size: 18 * $vp;
		margin-bottom: 20 * $vp;
		line-height: 2;
		a{
			color: $color-blue;
			text-decoration: underline;
		}
	}
	.btn-center{
		margin: 20 * $vp 0;
	}
}
.req{
	background: $color-red;
	width: 46 * $vp;
	height: 25 * $vp;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 14 * $vp;
	line-height: 1;
	color: #fff;
	font-weight: 500;
	margin-bottom: 10 * $vp;
}

